#playButton{
     width: 100px;
    height: 40px;
    background-color: thistle;
}
#playButton:hover{
    color: chocolate;
    background-color:lightblue;
    transform: scale(1.1);
}
.imageButton{
    height: 200px;
    width: 200px;
}
.imageButton:hover{

    transform: scale(1.1);
}
.vsImage{
    height: 300px;
    width: 300px;
}

body{
    background-color: black ;
    height: 100%;
}
.background{
    background-image: url("images/background.jpg");
}
#h1{
    color: brown;
        
}
.computer1{
    font-size: 40px;
    text-align: right;
    float: right;
    
    
    color: white;
}
.player1{
    font-size: 40px;
    text-align: left;
    float: left;
    
    
    color: white;
}

.result{
    color: white;
    font-size: 80px;

}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}
#middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;
}
#middle-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

#midButton{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#top{
    height: 30%;
    
}
#bottom{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#bottom-content{
    display: flex;
    flex-direction: row;
    
}
#playH1{
    justify-content: center;
    flex-direction: row;
    display: flex;
}