#playButton{
     width: 100px;
    height: 40px;
    background-color: thistle;
}
#playButton:hover{
    color: chocolate;
    background-color:lightblue;
    transform: scale(1.1);
}
.imageButton{
    height: 200px;
    width: 200px;
}
.imageButton:hover{

    transform: scale(1.1);
}
.vsImage{
    height: 300px;
    width: 300px;
}

body{
    background-color: honeydew ;
    display: table;
}
.background{
    background-image: url("images/background.jpg");
}
#h1{
    color: brown;
    
}
.computer1{
    font-size: 40px;
    text-align: right;
    float: right;
    padding-right: 300px;
    top: 100px;
    color: white;
}
.player1{
    font-size: 40px;
    text-align: left;
    float: left;
    padding-left : 200px;
    top: 100px;
    color: white;
}
.center{
    position: absolute;
    top: 250px;

}
.bottom{
    position: absolute;
    top: 675px;
    left:500px
}
.result{
    color: white;
    font-size: 80px;
    padding-left: 200px;

}
#box{
    display: table-cell;
    justify-content: center;
    vertical-align: middle;
}
#middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#middle-content{
    display: flex;
    flex-direction: column;
    
}
#midButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}